<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/insel2adoc/src/test/java/de/tutego/insel2adoc/JavaInselConverterDemo.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.tutego.insel2adoc.JavaInselConverterDemo"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="insel2adoc"/>
</launchConfiguration>
